.pageerror{
    margin-left: 90px;
    width: 50%;
}
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
 h1 {
	 display: block;
	 font-size: 3em;
	 margin: 0.6em 0;
	 font-weight: bold;
}
 .glitch {
	 position: relative;
	 margin: 0 auto;
     font-size: 150px;
	 /*background: #4242e6;*/
}
 .glitch::before, .glitch::after {
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 animation-direction: alternate-reverse;
	 overflow: hidden;
	 position: absolute;
	 top: 0;
	 clip: rect(0, 900px, 0, 0);
	 content: attr(data-text);
}
 .glitch::after {
	 animation-name: glitch-animation;
	 animation-duration: 4s;
	 left: 4px;
	 text-shadow: -1px 0 #08fdd8;
	 /*background: #4242e6;*/
}
 .glitch::before {
	 animation-name: glitch-animation-2;
	 animation-duration: 6s;
	 left: -4px;
	 text-shadow: 1px 0 #08fdd8;
	 /*background: #4242e6;*/
} 
/* Animations */
 @keyframes glitch-animation {
	 0% {
		 clip: rect(42px, 9999px, 74px, 0);
	}
	 5% {
		 clip: rect(12px, 9999px, 89px, 0);
	}
	 10% {
		 clip: rect(28px, 9999px, 79px, 0);
	}
	 15% {
		 clip: rect(42px, 9999px, 103px, 0);
	}
	 20% {
		 clip: rect(63px, 9999px, 57px, 0);
	}
	 25% {
		 clip: rect(34px, 9999px, 85px, 0);
	}
	 30% {
		 clip: rect(86px, 9999px, 103px, 0);
	}
	 35% {
		 clip: rect(20px, 9999px, 80px, 0);
	}
	 40% {
		 clip: rect(26px, 9999px, 90px, 0);
	}
	 45% {
		 clip: rect(25px, 9999px, 106px, 0);
	}
	 50% {
		 clip: rect(57px, 9999px, 138px, 0);
	}
	 55% {
		 clip: rect(5px, 9999px, 76px, 0);
	}
	 60% {
		 clip: rect(112px, 9999px, 31px, 0);
	}
	 65% {
		 clip: rect(84px, 9999px, 27px, 0);
	}
	 70% {
		 clip: rect(28px, 9999px, 139px, 0);
	}
	 75% {
		 clip: rect(45px, 9999px, 99px, 0);
	}
	 80% {
		 clip: rect(23px, 9999px, 125px, 0);
	}
	 85% {
		 clip: rect(54px, 9999px, 124px, 0);
	}
	 90% {
		 clip: rect(45px, 9999px, 47px, 0);
	}
	 95% {
		 clip: rect(67px, 9999px, 20px, 0);
	}
	 100% {
		 clip: rect(4px, 9999px, 150px, 0);
	}
}
 @keyframes glitch-animation-2 {
	0% {
        clip: rect(42px, 9999px, 74px, 0);
   }
    5% {
        clip: rect(12px, 9999px, 89px, 0);
   }
    10% {
        clip: rect(28px, 9999px, 79px, 0);
   }
    15% {
        clip: rect(42px, 9999px, 103px, 0);
   }
    20% {
        clip: rect(63px, 9999px, 57px, 0);
   }
    25% {
        clip: rect(34px, 9999px, 85px, 0);
   }
    30% {
        clip: rect(86px, 9999px, 103px, 0);
   }
    35% {
        clip: rect(20px, 9999px, 80px, 0);
   }
    40% {
        clip: rect(26px, 9999px, 90px, 0);
   }
    45% {
        clip: rect(25px, 9999px, 106px, 0);
   }
    50% {
        clip: rect(57px, 9999px, 138px, 0);
   }
    55% {
        clip: rect(5px, 9999px, 76px, 0);
   }
    60% {
        clip: rect(112px, 9999px, 31px, 0);
   }
    65% {
        clip: rect(84px, 9999px, 27px, 0);
   }
    70% {
        clip: rect(28px, 9999px, 139px, 0);
   }
    75% {
        clip: rect(45px, 9999px, 99px, 0);
   }
    80% {
        clip: rect(23px, 9999px, 125px, 0);
   }
    85% {
        clip: rect(54px, 9999px, 124px, 0);
   }
    90% {
        clip: rect(45px, 9999px, 47px, 0);
   }
    95% {
        clip: rect(67px, 9999px, 20px, 0);
   }
    100% {
        clip: rect(4px, 9999px, 150px, 0);
   }
}
 