.presentation{
  display: block;
  width: 50%;
}

.skills{
  font-family: 'Secular One', sans-serif;
  padding-left: 10%;
  color: #08fdd8;
}

.presentation p a{
  color: #08fdd8;
}

.metier{
  font-family: 'Secular One', sans-serif;
  word-spacing: 5px;
  padding-left: 10%;
}

.name,
.email,
.subject,
.text{
  display: block;
}

.flex-name-email{
  display: flex;
  justify-content: space-between;
    
}

.form-contact{
  margin-left: 10%;
}

.name{
  width: 50%;
  border: 0;
  padding: 0 20px;
}

.email{
  width: 50%;
  border: 0;
  padding: 0 20px;
}

.subject{
  width: 100%;
  border: 0;
  padding: 0 20px;
}

.text{
  width: 100%;
  border: 0;
  padding: 0 20px;
  padding-top: 10px;
}

.btn-send{
  border: 1px solid #08fdd8;
  border-radius: 10%;
  background-color: #2b2b2b;
  color: #08fdd8;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
  width: auto;
  height: auto;
  display: block;
  float: right;
  margin-top: 15px;
}

.btn-send:hover{
  background-color: #08fdd8;
  color: #2b2b2b;
}

@media screen and (max-width:770px) {
.taile{
  margin-left:0px;
}

.form-contact{
  margin-left: 10%;
  margin-right: 5%;
}

.skills{
  font-family: 'Secular One', sans-serif;
  padding-left: 10%;
  margin-right: 5%;
  text-align: center;
}

.metier{
  font-family: 'Secular One', sans-serif;
  word-spacing: 5px;
  padding-left: 10%;
  margin-right: 5%;
}

.name,
.email{
  display: block;
}

.presentation{
  display: block;
  width: 100%;
}
}