.presentationCard{
  width: 45%;
  color: #fff;
  font-size: 20px;
  font-family: Franklin Gothic Medium,Arial Narrow,Arial,sans-serif;
}

.presentationtitle{
  font-family: Secular One,sans-serif;
  color: #08fdd8;
}

.btnCV{
  border: 1px solid #08fdd8;
  background-color: #2b2b2b;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 9px 18px;
  text-transform: uppercase;
  border-radius: 0;
  color: #08fdd8;
  text-align: center;
  margin: auto;
  display: block;
  width: 30%;
  text-decoration: none;
}

.btnCV:hover{
  background-color: #08fdd8;
  color: #2b2b2b;
}


@media screen and (max-width:768px){
  .presentationCard{
    width: 90%;
    color: #fff;
    font-size: 20px;
    font-family: Franklin Gothic Medium,Arial Narrow,Arial,sans-serif;
  }

  .presentationtitle{
    font-family: Secular One,sans-serif;
    color: #08fdd8;
    text-align: center;
  }
}