.presentation{
  display: block;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 10%;
}

.skills{
  font-family: 'Secular One', sans-serif;
  padding-left: 10%;
  color: #08fdd8;
}

.presentation p a{
  color: #08fdd8;
}

.metier{
  font-family: 'Secular One', sans-serif;
  word-spacing: 5px;
  padding-left: 10%;
}

.taile{
  margin-left:15px;
}

@media screen and (max-width:910px) {
.taile{
  margin-left:0px;
}

.form-contact{
  margin-left: 10%;
  margin-right: 5%;
}

.skills{
  font-family: 'Secular One', sans-serif;
  padding-left: 10%;
  margin-right: 5%;
  text-align: center;
}

.metier{
  font-family: 'Secular One', sans-serif;
  word-spacing: 5px;
  padding-left: 10%;
  margin-right: 5%;
}

.presentation{
  display: block;
  width: 100%;
  padding-right: 0rem;
}

}