.map{
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 100px;
}
  
.map2{
  width: 100%;
  height: 100%;
  display: none;
}


.langstyle{
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
}


.lang{
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
}

.lang h5{
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.lang img{
  width: 50px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.lang p{
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}


.lang2{
  margin-left: 20px;
}



@media screen and (max-width:1401px) {
  .langstyle{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, 20%);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .lang2{
    margin-left: 0px;
  }
}

@media screen and (max-width:770px) {
  .lang{
    padding-left: 10%;
  }
  
  .lang h5{
    margin-left: 15px;
  }
  
.map{
  display: block;
  width: 50%;
  padding-left: 0%;
}


.map2{
  width: 85%;
  height: calc(100vh - 40px);
  margin-top: 23px;
  margin-left: 10%;
  display: block;
}


}