.nav{
    display: block;
    font-size: 25px;
    text-align: center;
    margin: 30px 0px 30px 0px;
    color: white;
}

.nav1{
    display: block;
    font-size: 25px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    color: white;
}
.nav2{
    display: block;
    font-size: 25px;
    text-align: center;
    margin: 0px 0px 30px 0px;
    color: white;
}
.nav:hover{
    color:#08fdd8;
}
.nav1:hover{
    color:#08fdd8;
}
.nav2:hover{
    color:#08fdd8;
}
.header{
    background: #181818;
    width: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
}

@media screen and (max-width:770px){
.nav3{
    display: none;
}
.header{
    background: #181818;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: initial;
}
.header div{
    margin: 0px 0px 0px 0px;
    display: contents;
}
.nav{
    display: inline-block;
    font-size: 25px;
    text-align: start;
    color: white;
    margin: 10px 10px 10px 10px;
}

.nav1{
    display: inline-block;
    font-size: 25px;
    text-align: start;
    color: white;
    margin: 0px 10px 0px 10px;
}
.nav2{
    display: inline-block;
    font-size: 25px;
    text-align: start;
    color: white;
    margin: 0px 10px 0px 10px;
}
}
@media screen and (max-width:320px){
.nav{
    display: inline-block;
    font-size: 25px;
    text-align: start;
    color: white;
    margin: 10px 5px 10px 5px;
}

.nav1{
    display: inline-block;
    font-size: 25px;
    text-align: start;
    color: white;
    margin: 0px 5px 0px 5px;
}
.nav2{
    display: inline-block;
    font-size: 25px;
    text-align: start;
    color: white;
    margin: 0px 5px 0px 5px;
}
}