.cardWork{
  text-align: center;
  color: #fff;
  margin: 0 auto;
  width: 50%;
}

.titleWork{
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 35px;
  color: var(--primary-color);
}

.imgWork{
  width: 100%;
  border-radius: 5px;
}

.stackWork{
  display: flex;
  justify-content: center;
}

.stack{
  padding-left: 10px;
}

.btnWork{
  border: 1px solid var(--primary-color);
  background-color: #2b2b2b;
  color: var(--primary-color);
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 6px 12px;
  text-transform: uppercase;
  width: 40%;
  display: block;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btnWork:hover{
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #2b2b2b;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 6px 12px;
  text-transform: uppercase;
  width: 40%;
  display: block;
  margin-right: 5px;
  border-radius: 5px;
}

.Workbtn{
  display: flex;
  justify-content: center;
}

@media screen and (max-width:768px) {
  .cardWork{
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: 95%;
  }
}